@page "/api-status"
@attribute [StreamRendering]
@inject ui.GraphQL.IFiakkasNetApi _api
@inject ILogger<ApiStatus> _logger
@implements IDisposable

<UniversalTitle Title="API Status">
    <button type="button" class="btn btn-outline-primary rounded-5 p-0 px-1" title="Refresh" disabled="@_loading"
        @onclick="SetData">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
</UniversalTitle>

<ContentFlow IsLoading="@_loading" HasError="@_hasError" HasData="@(_result?.SystemStatus is { })">
    <div class="table-responsive">
        <table class="table table-striped table-borderless text-nowrap">
            <tbody>
                <tr>
                    <th>Startup Time:</th>
                    <td class="w-100">@_result!.SystemStatus!.StartupTime</td>
                </tr>
                <tr>
                    <th>Up Time:</th>
                    <td>@_result!.SystemStatus!.UpTime</td>
                </tr>
                <tr>
                    <th>Version:</th>
                    <td>@_result!.SystemStatus!.Version</td>
                </tr>
                <tr>
                    <th>Overall Health:</th>
                    <td>@_result!.SystemStatus.Health.Status</td>
                </tr>
                @if (_result.SystemStatus.Health.Entries is { Count: > 0 } healthEntries)
                {
                    @foreach (var item in healthEntries)
                    {
                        <tr>
                            <th>
                                <i class="bi bi-chevron-compact-right"></i> @item.Key Health:
                            </th>
                            <td> @item.Value.Status</td>
                        </tr>
                    }
                }
                <tr>
                    <th>Total Duration:</th>
                    <td>@_result!.SystemStatus.Health.TotalDuration</td>
                </tr>
            </tbody>
        </table>
    </div>
</ContentFlow>


@code {
    private bool _loading = true;
    private bool _hasError = false;
    private IGetSystemStatusResult? _result;
    private readonly CancellationTokenSource _cancellationTokenSource = new();

    private async Task SetData()
    {
        try
        {
            _loading = true;
            _hasError = false;
            _result = default;

            StateHasChanged();

            var result = await _api.GetSystemStatus.ExecuteAsync(_cancellationTokenSource.Token);

            result.EnsureNoErrors();

            _result = result.Data;
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Failed to retrieve data with message: {Message}", ex.Message);
            _result = default;
            _hasError = true;
        }

        _loading = false;

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync() => await SetData();

    public void Dispose()
    {
        _cancellationTokenSource.Cancel();
        _cancellationTokenSource.Dispose();
    }
}
